@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,600;1,6..12,600&display=swap');

/* Inicializar variables en la raíz */
:root{
    --azul-osculro: #222831;
    --azul-intermedio: #343a45;
    --azul-claro: #76ABAE;
    --azul-claro2: #7FC7D9;
    --blanco-oscuro: #BDBDBD;
    --blanco-intermedio: #D9D9D9;
    --blanco-claro: #EEEEEE;
    --blanco-claro2: #FFFFFF;
    --verde: #307643;
    --verde-claro: #4D7169;
    --verde-claro2: #0D9276;
    --rojo: #BE3144;
    --rojo2: #FF204E;

    --fuente: "Nunito Sans", sans-serif;
}

body{
    background-color: var(--azul-intermedio);
}


/* Estilo meramente esteticos */

.protones, .atomos, .moleculas, .organismos, .impostor{
    display: flex;
    
    /* Exclusivo para mostrar los elementos, no es necesario. Tampoco se debería mencionar la clase impostor, 
    pero se hace por estética al mostrar los elementos.*/
    flex-direction: column;

    justify-content: center;
    align-items: center;
    text-align: center;
}

.protones>*, .atomos>*, .moleculas>*, .organismos>*, .impostor>*{
    margin: 1rem;
}
