<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Program to add taks</title>

    <!-- reset estilos -->
    <link rel="stylesheet" href="../css/reset.css">

    <!-- estilos generales -->
    <link rel="stylesheet" href="../css/styles.css">

    <!-- atomos -->
    <link rel="stylesheet" href="../css/atomos/bottoms.css">
    <link rel="stylesheet" href="../css/atomos/inputs.css">
    <link rel="stylesheet" href="/css/atomos/img.css">
    <link rel="stylesheet" href="/css/atomos/text.css">
    
    <!-- moleculas -->
    <link rel="stylesheet" href="../css/moleculas/inputsLogin.css">
    <link rel="stylesheet" href="../css/moleculas/buttonsLogin.css">
    <link rel="stylesheet" href="../css/moleculas/addTaks.css">
    <link rel="stylesheet" href="../css/moleculas/tituloTarea.css">
    <link rel="stylesheet" href="../css/moleculas/tarea.css">
    <link rel="stylesheet" href="../css/moleculas/inputsLogin.css">

    <!-- organismos -->
    <link rel="stylesheet" href="../css/organismos/header.css">
    <link rel="stylesheet" href="../css/organismos/login.css">
    <link rel="stylesheet" href="../css/organismos/tareas.css">

    <link rel="stylesheet" href="../css/template/template.css">
</head>
<body>
    <header>
        <div class="imagen-usuario">
            <img class="img-user" src="../image/undraw_male_avatar_g98d.svg" alt="">
        </div>

        <ul class="links">
            <li><h2 class="sudtitle">check</h2></li>
            <li><h2 class="sudtitle">delet</h2></li>
            <li><h2 class="sudtitle">taks</h2></li>
        </ul>
    </header>

    <div class="Section-add-taks">
        <div class="taks">
            <section class="input-taks">
                <div class="add-taks">
                    <button class="button--add" type="submit"><img class="img-icon" src="../image/bx-add-to-queue.svg" alt=""></button>
                    <input class="name-taks" type="text" name="" id="">
                </div>
            </section>
    
            <section class="taks-Column">
                <div class="tak">
                    <button class="button--chek" type="button"><img class="img-icon" src="../image/bx-check.svg" alt="chek"></button>
                    <div class="title-tak">
                        <h1 class="title">Tarea 1</h1>
                    </div> 
                    <button class="button--delete" type="button"><img class="img-icon" src="../image/bx-trash.svg" alt=""></button>
                </div> 
                <div class="tak">
                    <button class="button--chek" type="button"><img class="img-icon" src="../image/bx-check.svg" alt="chek"></button>
                    <div class="title-tak">
                        <h1 class="title">Tarea 1</h1>
                    </div> 
                    <button class="button--delete" type="button"><img class="img-icon" src="../image/bx-trash.svg" alt=""></button>
                </div> 
                <div class="tak">
                    <button class="button--chek" type="button"><img class="img-icon" src="../image/bx-check.svg" alt="chek"></button>
                    <div class="title-tak">
                        <h1 class="title">Tarea 1</h1>
                    </div> 
                    <button class="button--delete" type="button"><img class="img-icon" src="../image/bx-trash.svg" alt=""></button>
                </div> 
                <div class="tak">
                    <button class="button--chek" type="button"><img class="img-icon" src="../image/bx-check.svg" alt="chek"></button>
                    <div class="title-tak">
                        <h1 class="title">Tarea 1</h1>
                    </div> 
                    <button class="button--delete" type="button"><img class="img-icon" src="../image/bx-trash.svg" alt=""></button>
                </div> 
            </section>            
        </div>
    </div>
    
</body>
</html>